@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

body{
    background-color: #2f3035;
    background-image: url(images/backgroundt1.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;;
}

header img{
    width: 100px;
}

.nav-b{
    background: rgba(0, 0, 0, 0.33);
}

a{
    font-weight: lighter;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,1);
}

.navbar-toggler {
    border: none;
    outline: none !important;
    box-shadow: none !important;
}
.navbar-toggler:hover{
    opacity: 0.8;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(images/icon-burger-menu.svg);
}