
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

body{
    background-color: #2f3035;
    background-image: url(../images/backgroundt1.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

a{
    font-weight: lighter;
}

h1{
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: bold;
}

p{
    color: white;
    font-weight: lighter;
    font-size: 1rem;
}

header img{
    width: 150px;
}

.navbar{
    padding-top: 1px;
    padding-bottom: 1px;
}

.nav-b{
    background: rgba(0, 0, 0, 0.33);
}

.navbar-toggler {
    padding: 0px 0.75px;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    
}
.navbar-toggler:hover{
    opacity: 0.6;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(../images/icon-burger-menu.svg);
    max-width: 25px;
}

.hero{
    margin: 100px 0px;

    h1{
        font-size: 6rem;
        font-family: 'Vidaloka', serif;
        font-weight: normal;
    }
    p{
        margin-top: 60px;
        text-transform: uppercase;
    }
}

#carouselExampleIndicators img{
    height: 512px;
    object-fit: cover;
}

.carousel-control-prev-icon {
    background-image: url(/images/prev-svg.svg);
}

.carousel-control-next-icon {
    background-image: url(/images/next-svg.svg);
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;

    &.active {
        opacity: 1;
    }
}

.story{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .box{
        background-color: rgba(0, 0, 0, 0.33);
        width: 47%;
        padding: 40px;
        margin-top: 50px;

        p{
            font-size: 1rem;
        }
    }

    .box :last-child{
        font-size: 0.8rem;
        opacity: 0.7;
    }
}

footer{
    background-color: rgba(0, 0, 0, 0.33);
    height: 35px;
    margin-top: 80px;
    color: white;

    .footer{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    p{
        color: rgba(255, 255, 255, 0.4);
        font-weight: lighter;
        font-size: 0.7rem;
        text-align: center;
    }
}

//contact html
.contact{
    margin: 60px 0px;

    h1{
        font-size: 4rem;
        font-family: 'Vidaloka', serif;
        font-weight: normal;
    }
}

.con{
    display: flex;
    
    .info{
        height: 400px;
        width: 424px;
        padding: 20px;
        padding-right: 80px;
        background-color: rgba(0, 0, 0, 0.33);

        h2{
            font-size: 1.5rem;
            color: white;
        }
    }
}

.map2{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.button{
    color:#000000;
    text-decoration: none;
    background-color: white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.230);
}
.button:hover{
    background-color: rgb(230, 228, 228);
    transition-duration: 300ms;
}

//Book online html

.container-book{
    min-height: 300px;
    padding-top: 80px;
    color: white;

    h1{
        font-size: 4rem;
        font-family: 'Vidaloka', serif;
        font-weight: normal;
    }

    .input{
        margin-bottom: 20px;
    }

    input[type=text], [type=email], textarea{
        padding: 10px 20px;
        width: 100%;
        font-size: 0.8rem;
        box-sizing: border-box;
    }

    .margin-right{
        margin-right: 20px;
    }

    input[type=radio]{
        margin-right: 10px;
    }

    label{
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .sdbutton{
        color:#000000;
        background-color: white;
        padding: 8px 24px;
        display: inline-block;
        border-radius: 2px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.230);
        border: none;
        font-size: 1rem;
        margin-top: 10px;
    }
    .sdbutton:hover{
        background-color: rgb(230, 228, 228);
        transition-duration: 300ms;
    }

    form{
        margin-top: 50px;
        margin-bottom: 80px;
    }
}

@media (max-width: 768px){
    #carouselExampleIndicators img{
        height: 312px;
        object-fit: cover;
    }

    .story{
    
        .box{
            background-color: rgba(0, 0, 0, 0.33);
            width: 100%;
            padding: 40px;
            margin-top: 50px;
        }

        .box#box3{
            display: none;
        }
        .box#box4{
            display: none;
        }
    }

    footer{
        margin-top: 60px;
    }

    .map{
        display: none;
    }
    .map2{
        display: block;
    }
}